body{
	margin: 0;
	padding: 0;
	background-color: #551a8b;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
h1{
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
	font-size: 100px;
	font-weight: 600;
	text-align: center;
	color: #ff69b4;
}

button{
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-family: 'Fresca' , sans-serif;
    display: inline-block;
    border: 3px solid deeppink;
    background-color: #551a8b;
    color: deeppink;
    margin-top: 100px;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

button:hover {
    background-color: white;
    color: purple;
}

button:active {
    background-color: #ccc;
}
button:focus{
    outline: 0;
}


#Quote{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    position: relative;
    margin-top: 50px;
}

#author{
    color: deeppink;
    font-family: palatino;
    text-align: right;
    width: 70%;
    font-size: 22px;
    position:relative;
}
footer{
    margin-top: 40px;
}
span{
    font-size: 20px;
    font-family: monospace;
    color: white;
}